  /*stylesheet*/

  body {
    color: #000;
    font-size: 16px;
    font-family: 'Noto Sans JP', sans-serif;
  } 

#wrapper {

  margin: 2em auto;
  max-width: 960px;
  padding: 0 2em;
}

.grid {
  display: grid;
  grid-template-column: 10rem 10rem 10rem;
}